<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="logo">BRAN<span>D</span></a>
            <form class="headerSearchForm">
                <a href="#" class="headerBrowse">
                    Browse <i class="fas fa-caret-down"></i>
                </a>
                <input type="text" placeholder="Search for Item...">
                <button><i class="fas fa-search"></i></button>
            </form>
            <img class="headerCart" src="Img/cart.png" alt="">
            <button class="accountBtn">My Account <i class="fas fa-caret-down"></i></button>
        </div>
    </div>

    <div class="topNav">
        <a href="#">Home</a>
        <a href="#">Man</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Accoseriese</a>
        <a href="#">Featured</a>
        <a href="#">Hot Deals</a>
    </div>

    <div class="promo">
        <div class="container">
            <div class="promoSlogan">
                <div class="promoText1">
                    THE BRAND
                </div>
                <div class="promoText2">
                    OF LUXERIOUS <span>FASHION</span>
                </div>
            </div>
        </div>
    </div>

    <div class="offers">
        <div class="container">
            <div class="offer1">
                <div class="offerLabel">
                    <div class="offerLabelTop">
                        HOT DEAL
                    </div>
                    <div class="offerLabelBottom">
                        FOR MEN
                    </div>
                </div>
            </div>
            <div class="offer2">
                <div class="offerLabel">
                    <div class="offerLabelTop">
                        LUXIROUS & TRENDY
                    </div>
                    <div class="offerLabelBottom">
                        ACCESORIES
                    </div>
                </div>
            </div>
            <div class="offer3">
                <div class="offerLabel">
                    <div class="offerLabelTop">
                        30% OFFER
                    </div>
                    <div class="offerLabelBottom">
                        WOMEN
                    </div>
                </div>
            </div>
            <div class="offer4">
                <div class="offerLabel">
                    <div class="offerLabelTop">
                        NEW ARRIVALS
                    </div>
                    <div class="offerLabelBottom">
                        FOR KIDS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="items" id="root">
        <div class="container">
            <h3>Fetured items</h3>
            <p class="items_shop">Shop for items based on what we featured in this week</p>
            <input type="search" placeholder="Search" v-on:input="handleChange()" v-model="searchGoods"
                data-id="search">
            <div class="goods-list" data-id="goods">
                <div class="goods-item" v-for="item in filteredGoods">
                    <div>
                        <div class="choisecart">
                            <button data-goods-:id="id_product" v-on:click="addToBasket(id)"><img src="Img/cart.png"
                                    alt="cart">Add to
                                Cart</button>
                        </div>
                        <img class="cardImg" v-bind:src="'Img/cardProduct' + item.id_product + '.png'"
                            alt="cardProduct">
                        <h3 class="cardProduct"> {{item.product_name}}</h3>
                        <p>$ {{item.price}}</p>
                    </div>
                </div>
            </div>
            <div data-id="basket">Корзина
                <div v-for="item in basketGoods">
                    <div class="choisecart">
                        <button data-goods-:id="id_product" v-on:click="deleteFromBasket(id)"><img src="Img/cart.png"
                                alt="cart">Add to
                            Cart</button>
                    </div>
                    <img class="cardImg" v-bind:src="'Img/cardProduct' + item.id_product + '.png'" alt="cardProduct">
                    <h3 class="cardProduct"> {{item.product_name}}</h3>
                    <p>$ {{item.price}}</p>
                </div>
            </div>
            <button class="browseBtn" id="btn">Browse All Product <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
    </div>
    </div>
    </div>

    <div class="discounts">
        <div class="container">
            <div class="discount1">
                <div class="promoText3">
                    30% <span>OFFER</span>
                </div>
                <div class="promoText4">
                    FOR WOMEN
                </div>
            </div>
            <div class="discount2">
                <div class="discount2_images">
                    <img class="free_delivery_image" src="Img/delivery.png" alt="delivery">
                    <img src="Img/discounts.png" alt="discounts">
                    <img class="quality" src="Img/quality.png" alt="">
                </div>

                <div class="free_delivery">
                    <div class="h4">Free Delivery</div>
                    <div class="text_worldwide">Worldwide delivery on all. Authorit tively morph next-generation
                        innov
                        tion with
                        extensive models
                        .</div>
                    <div class="h4">Sales & discounts
                    </div>
                    <div class="text_worldwide">Worldwide delivery on all. Authorit tively morph next-generation
                        innov
                        tion with
                        extensive models
                        .</div>
                    <div class="h4">Quality assurance</div>
                    <div class="text_worldwide text_worldwide_MarginBottom0">Worldwide delivery on all. Authorit
                        tively
                        morph next-generation
                        innov
                        tion with
                        extensive models
                        .
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rew">
        <div class="container">
            <div class="rew_top">
                <div class="boxLeft">
                    <div class="boxLeftImg">
                        <img class="boxLeftImg" src="Img/head.png" alt="">
                    </div>
                    <div class="boxLeftText">
                        <div class="boxLeftText1">
                            “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a
                            pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                        </div>
                        <div class="boxLeftText2">
                            Bin Burhan
                        </div>
                        <div class="boxLeftText3">
                            Dhaka, Bd
                        </div>
                        <div class="boxLeftBorder">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                </div>
                <div class="boxRight">
                    <div class="boxRightText1">
                        Subscribe
                    </div>
                    <div class="boxRightText2">
                        FOR OUR NEWLETTER AND PROMOTION
                    </div>
                    <form><input type="text" placeholder="Enter Your Email">
                        <button>Subscribe</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_box">
                <div>
                    <div class="footer_logo"><a href="#">BRAN<span>D</span></a></div>
                    <div class="footer_text">
                        <p>Objectively transition extensive data rather than cross functional solutions.
                            Monotonectally
                            syndicate multidisciplinary materials before go forward benefits. Intrinsicly
                            syndicate an
                            expanded array of processes and cross-unit partnerships.
                            <br>
                            <br>
                            Efficiently plagiarize 24/365 action items and focused infomediaries.
                            Distinctively seize superior initiatives for wireless technologies. Dynamically
                            optimize.
                        </p>
                    </div>
                </div>
                <div class="column_company"><span>COMPANY</span>
                    <a href="#" class="company">Home</a>
                    <a href="#" class="company">Shop</a>
                    <a href="#" class="company">About</a>
                    <a href="#" class="company">How It Works</a>
                    <a href="#" class="company">Contact</a>
                </div>
                <div class="column_information"><span>INFORMATION</span>
                    <a href="#" class="company">Tearms & Condition</a>
                    <a href="#" class="company">Privacy Policy</a>
                    <a href="#" class="company">How to Buy</a>
                    <a href="#" class="company">How to Sell</a>
                    <a href="#" class="company">Promotion</a>
                </div>
                <div class="column_shopCategory"><span>SHOP CATEGORY</span>
                    <a href="#" class="company">Men</a>
                    <a href="#" class="company">Women</a>
                    <a href="#" class="company">Child</a>
                    <a href="#" class="company">Apparel</a>
                    <a href="#" class="company">Brows All</a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="copy">
                    <div class="2">
                        <p class="text_copyright">&copy;2017 Brand All Rights Reserved</p>
                    </div>
                    <div class="social">
                        <a href="#" class="sociall"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="sociall"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="sociall"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="sociall"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#" class="sociall"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>