@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
}

body{
    margin: 0;
    font-family: 'lato', sans-serif;
    font-weight: 400;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    height: 100px;
    border-bottom: 1px solid  #ececec;
}

.header .container{
    height: inherit;
    display: flex;
    align-items: center;
}

.logo{
    background: url(Img/logo.png) no-repeat;
    padding-left: 72px;
    height: 51px;
    width: 167px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    box-sizing: border-box;
}

.logo span{
    font-weight: 900;
    color: #f16d7f;
}

.headerSearchForm{
    margin-left: 37px;
    display: flex;
    height: 38px;
}

.headerBrowse{
    width: 87px;
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.headerBrowse i{
    margin-left: 8px;
}

.headerSearchForm input{
    width: 317px;
    background-color: #ffffff;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 15px;
    outline: none;
    box-sizing: border-box;
}

.headerSearchForm button{
    width: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    font-size: 14px;
    line-height: 32px;
    color: #a4a4a4;
}

.headerCart{
    margin-left: auto;
}

.accountBtn{
    margin-left: 26px;
    width: 130px;
    height: 38px;
    border: none;
    background-color: #f16d7f;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.accountBtn i{
    margin-left: 8px;
}

.topNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
}

.topNav a:not(:last-child){
    margin-right: 40px;
}

.topNav a{
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.promo{
    background-color: #e8e8e8;
    height: 614px;
}

.promo .container{
    height: inherit;
    background: url(Img/topHeadBack.png) no-repeat right 40px top 17px;
    background-size: 545px;
    display: flex;
    align-items: center;
}

.promoSlogan{
    border-left: 12px solid #f16d7f;
    height: 92px;
    padding-left: 12px;
    color: #222222;
}

.promoText1{
    font-size: 60px;
    line-height: 42px;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.promoText2{
    font-size: 40px;
    line-height: 28px;
    font-weight: 900;
    letter-spacing: 0.025em;
    margin-top: 20px;
}

.promoText2 span{
    color: #f16d7f;
}

.offers{
    margin-top: 98px;
}

.offers .container{
    position: relative;
}

.offer1{
    width: 560px;
    height: 542px;
    background: url(Img/offer1.png) no-repeat;
}

.offerLabel{
    background: white;
    padding: 16px 20px;
    display: inline-block;
    margin-top: 26px;
}

.offerLabelTop{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.offerLabelBottom{
    font-size: 30px;
    color: #f16d7f;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.offer2{
    width: 560px;
    height: 261px;
    margin-top: 20px;
    background: url(Img/offer2.png) no-repeat;
}

.offer3{
    width: 560px;
    height: 261px;
    background: url(Img/offer3.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.offer4{
    width: 560px;
    height: 542px;
    background: url(Img/offer4.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.items_shop{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    margin-bottom: 60px;
}

#search {
    padding: 50px;
}

.container a{
    text-decoration: none;
}

.goods-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods-list >div{
    display: flex;
}

.goods-item {
    height: 370px;
    margin-bottom: 39px;
}

.goods-item:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.goods-item h3 {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    padding: 5px;
}

.goods-item p {
    font-weight: 700;
    color: #f16d7f;
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

.choisecart{
    width: 261px;
    height: 281px;
    background-color: rgba(58,56,56,0.83);
    position: absolute;
    display: none;
}

.choisecart button{
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(58,56,56,0.83);
}

.choisecart button img{
    margin-right: 8px;
}

.goods-item:hover .choisecart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProduct{
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #222222;
    margin-left: 13px;
    margin-bottom: 17px;
}

.goods-item:not(:nth-child(4n)){
    margin-right: 32px;
}

.card a{
    margin-bottom: 43px;
}

.cardImg{
    margin-bottom: 19px;
    width: 261px;
    height: 280px;
    object-fit: cover;
}

.cardProduct span{
    font-size: 16px;
    font-weight: 700;
    color: #f16d7f;
}

.browseBtn{
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 79px calc(50% - 106px) 113px;
    border: none;
}

.browseBtn i{
    margin-left: 9px;
}

.discounts{
    margin-bottom: 97px;
}

.discounts .container{
    display: flex;
}

.discount1{
    background: url(Img/offer30.png) no-repeat;
    height: 529px;
    width: 767px;
    padding-top: 146px;
    padding-left: 39px;
    box-sizing: border-box;
}

.promoText3{
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.promoText3 span{
    color: #f16d7f;
}

.promoText4{
    line-height: 0.8;
    font-size: 32.2px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.discount2{
    width: 373px;
    height: 529px;
    background-color: #222224;
    display: flex;
}

.discount2_images{
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-right: 30px;
}

.free_delivery{
    margin-top: 55px;
}
.free_delivery_image{
    margin-top: 48px;
    margin-bottom: 135px;
}

.quality{
    margin-top: 126px;
}

.h4{
    font-size: 20px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-bottom: 17px;
}

.text_worldwide{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    width: 219px;
    margin-bottom: 62px;
}

.text_worldwide_MarginBottom0{
    margin-bottom: 0;
}

.rew{
    background: url(Img/fonSubscribe.png) no-repeat, #ccc;
    background-blend-mode: overlay;
}

.rew_top{
    height: 438px;
    display: flex;
}

.boxLeft{
    display: flex;
    width: 520px;
    justify-content: space-between;
    border-right: 1px solid white;
}

.boxLeftImg{
    width: 83px;
    height: 83px;
}

.boxLeftImg{
    margin-top: 64px;
}

.boxLeftText{
    width: 411px;
    margin-top: 123px;
}

.boxLeftText1{
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 19px;
}

.boxLeftText2{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.boxLeftText3{
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.boxLeftBorder{
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.boxLeftBorder div:not(:nth-last-child(2)){
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.boxLeftBorder div{
    background-color: #f16d7f;
    width: 38px;
    height: 4px;
}

.boxRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 148px 92px;
}

.boxRight input{
    opacity: 0.67;
    font-size: 14px;
    line-height: 54px;
    letter-spacing: 0.025em;
    color: #222224;
    box-sizing: border-box;
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    padding-left: 28px;
    padding: 18px;
    outline: none;
    border: none;
    float: left;
}

.boxRight button{
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    box-sizing: border-box;
    border: none;
}

.boxRightText1{
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;

}

.boxRightText2{
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    letter-spacing: 0.025em;
    color: #222224;
    margin-top: 10px;
    margin-bottom: 35px;
}


.footer_box{
	display: flex;
	height: 458px;
	padding-top: 123px;
    padding-bottom: 89px;
    box-sizing: border-box;
	padding-right: 15px;
	font-size: 27px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: #3e3e40;
	padding-left: 15px;
}

.footer_logo{
    background: url(Img/logo.png) no-repeat;
    padding-left: 72px;
    height: 51px;
    width: 427px;
    text-decoration: none;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    box-sizing: border-box;
    color: #3e3e40;
    display: flex;
    align-items: center;
}

.footer_box a{
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 0.025em;
	color: #898989;
}

.footer_box span{
	font-weight: 900;
	color: #f16d7f;
}

.footer_text{
	width: 427px;
	height: 180px;
	font-family: Lato;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: #898989;
}

.column_company{
	flex-direction: column;
 	display: flex;
	width: 101px;
	margin-left: 64px;
	margin-right: 129px;
	justify-content: space-between;
	height: 238px;
}

.column_company span{
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #f16d7f;
}

.column_information{
	display: flex;
	flex-direction: column;
	width: 144px;
	margin-right: 80px;
	justify-content: space-between;
	height: 238px;
}

.column_information span{
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #f16d7f;
}

.column_shopCategory{
	display: flex;
	flex-direction: column;
	width: 161px;
	justify-content: space-between;
	height: 238px;
}

.column_shopCategory span{
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #f16d7f;
}

.copyright{
	height: 79px;
	background-color: #e6e6e6;
}

.text_copyright{
	font-size: 16px;
	line-height: 42px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #7a7a7a;
	width: 260px;
}

.fab{
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #b2b2b2;
	padding-left: 9px;
}

.fab:hover{
	color: #f7f7f8;
}

.copy{
	display: flex;
	align-items: center;
   	justify-content: space-between;
}

.social{
	display: flex;
}

.sociall{
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	text-decoration: none;
}

.sociall:not(:last-child){
	margin-right: 8px;
}

.sociall:hover{
	background-color: #f16d7f;
}